body{
    background: rgba(0,0,0, 0.9);
    margin: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* now for the hover effect we cant actually give the image a physical div in the dom 
so we use the pseudoelement ::after */

#showcase::after {
    content: 'hii';
    height: 100vh;
    width: 100%;
    background-image: url('showcase.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;   /*it did not display until we add this*/
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
}

#showcase:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

#showcase:hover .content{
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.content{
    position: absolute;   /*make the showcase take the whole place*/
    z-index: 1;     /*make content appear on the showcase image*/
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 300px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
    /* the transition is happening due to the specified margins top and left */
}

.content .logo{
    height: 180px;
    width: 180px;
}

.content .title{
    font-size: 2.2rem;
    margin-top: 1rem;
}

.content .text{
    line-height: 1.7;
    margin-top: 1.2rem;
}


.container{
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}

.grid-3{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    /* just another way of dividing it like above */
    /* grid-template-columns: repeat(3, 1fr); */ 
}

/* center the icons and their titles */
.center{
    text-align: center;
    margin: auto;
}

.bg-light{
    background: #f4f4f4;
    color: #333;
}

.bg-dark{
    background: #333;
    color: #f4f4f4;
}